@model Assignment.Models.Books
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        body{
            width :40%;
            margin:auto;
        }
        h2{
            text-align:center;
        }
    </style>
</head>
<body>
    <div> 
        <h2>Books Detail</h2>
        <hr/>
        <table class="table table-bordered" align="center">
            <tr>
                <td>Book Title :</td>
                <td>@Model.Titles</td>
            </tr>
            <tr>
                <td>Book Author :</td>
                <td>@Model.Author</td>
            </tr>
            <tr>
                <td>Book ISBN :</td>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <td>Book Publisher :</td>
                <td>@Model.Publisher</td>
            </tr>
            <tr>
                <td>Book Year :</td>
                <td>@Model.Year</td>
            </tr>
        </table>
        <br />
        <br />
        <a href="/">Back To Add New Book</a>
    </div>
</body>
</html>
